body {
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.lista-tarjetas {
    background-color: #92bfc7;
}

.tarea-regular {
    background-color: blueviolet;
    color: white;
}

.tarea-proxima {
    background-color: darkorange;
    color: white;
}

.tarea-atrasada {
    background-color: darkred;
    color: white;
}

.tarea-completada {
    background-color: darkgreen;
    color: white;
}

.error {
    color: red;
    background-color: #ffc6c6;
}

.fondo-navbar {
    background-image: linear-gradient(-225deg, #3ccebc 0%, #47b3e3 51%, #8974ee 100%);
}