body {
    background-color: #330867;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.lista-tarjetas {
    background-color: #92bfc7;
}

.tarea-regular {
    background-color: #611da1;
    color: white;
}

.tarea-proxima {
    background-color: #c46c00;
    color: white;
}

.tarea-atrasada {
    background-color: darkred;
    color: white;
}

.tarea-completada {
    background-color: darkgreen;
    color: white;
}

.error {
    color: red;
    background-color: #ffc6c6;
}

.fondo-navbar {
    background-color: #6e7bbd;
}