<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFrag :: head-fragment('Lista de Tareas')"></head>
<body>
<div class="container vh-100">
	<div class="row py-2">
		<div class="col">
			<h1 class="text-center">Lista de Tareas Pendientes</h1>
		</div>
	</div>
	<div class="row d-flex justify-content-center py-2">
		<div class="col-12 col-md-10 col-lg-8 justify-content-start">
			<a class="btn btn-primary" href="/tarea/nueva-tarea">Agregar Tarea</a>
		</div>
	</div>
	<div class="row d-flex justify-content-center py-3">
		<div class="col-12 col-md-10 col-lg-8 justify-content-center">
			<div class="card lista-tarjetas border-dark border-3">
				<div class="card-body">
					<h5 class="card-title my-4 text-center" th:if="${tareas.isEmpty()}" th:text="'Agrega tareas para que aparezcan aquí!'"></h5>
					<div th:class="'card my-2 border-2 shadow ' + ${tarea.activa?tarea.getEstado:'tarea-completada'}" th:each="tarea: ${tareas}">
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-md-9">
									<h5 th:class="${tarea.activa?'card-title':'card-title text-decoration-line-through'}" th:text="${tarea.tituloTarea}"></h5>
									<p th:text="${tarea.descripcionTarea}"></p>
									<p th:text="'Fecha límite: ' + ${#temporals.format(tarea.fechaLimite, 'dd-MM-yyyy')}"></p>
									<p th:if="${tarea.getEstado().equals('tarea-proxima') && tarea.activa}">¡El plazo está por vencer!</p>
									<p th:if="${tarea.getEstado().equals('tarea-atrasada') && tarea.activa}">¡El plazo ha vencido!</p>
								</div>
								<div class="col-12 col-md-3 d-flex align-items-center">
									<div class="row">
										<div class="col-12 d-flex justify-content-center">
											<a th:href="@{/tarea/modificar-tarea/{id}(id=${tarea.id})}" th:class="${(!tarea.activa)?'disabled btn-secondary ':'btn-light '} + 'btn btn-outline-dark form-control mt-1 mt-md-0'">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
													<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
													<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
												</svg>
												Editar
											</a>
										</div>
										<div class="col-12 d-flex justify-content-center">
											<a th:href="@{/tarea/eliminar-tarea/{id}(id=${tarea.id})}" class="btn btn-light btn-outline-dark form-control mt-1" onclick="return confirm('¿Estás seguro de eliminar la tarea?')">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
													<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
													<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
												</svg>
												Borrar
											</a>
										</div>
										<div class="col-12 d-flex justify-content-center">
											<a th:href="@{/tarea/completar-tarea/{id}(id=${tarea.id})}" th:class="${(!tarea.activa)?'disabled btn-secondary ':'btn-light '} + 'btn btn-outline-dark form-control mt-1'" onclick="return confirm('¿Marcar la tarea como completa?')">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
													<path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
													<path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
												</svg>
												Completar
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>